
.formInfo {
text-align: center;
}

.verification {
  text-align: center;
  margin-top: 50px;
  
  
}

.verification .sendButton {
  color: black;
  font-size: large;
  border: black solid 1px;
  border-radius: 10px;
  padding: 10px 20px;
}

.verification .sendButton:hover {
  background-color:  rgb(75, 240, 75);
}



  label {
    display: block;
    font-family: 'Nanum Gothic';
    padding-top: 10px;
    font-size: 1.25em;
    
  }
  
  input {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 30%;
    padding: 10px;
    
  }
  
