body {
    margin: 0;
}

.dogs {
    float: left;
    width: 25%;
}

.dogs img {
    height: 300px;
    width: 300px;
    padding: 10px;
    margin-left: 10px;
}

.dogs h3 {
    margin-left: 150px;
}



  

