body {
    margin: 0;
}

.dogs {
    float: left;
    margin-top: 50px;
    padding: 10px;
    
    
}

.dogs img {
    height: 300px;
    width: 300px;
    margin-left: 50%
    
    
}

.dogs h3 {
    margin-left: 290px;
    color: black;
}



  

