*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height:1.6;
    
}

.showcase {
    background-image: url('../img/dog_background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    
}

.showcase h1 {
    font-size: 50px;
    line-height: 1.2;
    color: white;
}

.showcase h3 {
    font-size: 20px;
    color: white;
}

.showcase .button {
    font-size: 18px;
    text-decoration: none;
    color:white;
    border:white 1px solid ;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.showcase .button:hover { 
    color: rgb(5, 112, 201);
}

.section-a {
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
    padding-bottom: 40px;
    
}
.section-a h3 {
    font-style: italic;
}

.section-b {
    background-image: url('../img/dogcare.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    
    
    
    
}
.section-b h3 {
    font-size: 50px;
    line-height: 1.2;
    color: white;
}

.section-c {
    display: flex;
    padding: 20px;
    padding-bottom: 20px; 
    border: black, 2px;
}

.section-c div{
    padding: 20px;
}

.section-c .box-1, .section-c .box-3 {
    border-style: groove;
    padding: 5px;
    
}

.section-c .box-2 {
   border-style: groove;
   padding: 5px;
}

.contact p {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}